.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 80px;
  border: none;
  border-radius: 0;
  background-image: linear-gradient(135deg, #36D1DC 0%, #5B86E5 100%);
  // box-shadow: none;
  a {
    text-decoration: none;
    color: white;
  }
}

.navbar-scrolled {
  
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.navbar-default .container  {
 margin-top: 10px;
}

// .header-brand {
//   display: flex;
// }

.link-logo {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  margin: 0 10px 11px 0;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
}
