.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 80px;
  border: none;
  border-radius: 0;
  background-image: linear-gradient(135deg, #36D1DC 0%, #5B86E5 100%);
  a {
    text-decoration: none;
    color: white;
  }
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}

.navbar-default .container  {
 margin-top: 10px;
}

.link-logo {
  height: 30px;
  width: 30px;
}