.splash {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(135deg, #36D1DC 0%, #5B86E5 100%);
  height: auto;
  position: relative;

  h2  {
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
  }

  h3 {
    color: white;
    text-align: center;
  }

  img {
    height: 50%;
    width: 50%;
    overflow: hidden;
  }

  .splash_phone {
    display:flex;
    justify-content: center;
    width: 800px;
    margin-top: 25px;
    z-index: 1;
  }

  .splash-text {
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    h2 {
      font-size: 50px;
    }

    h3 {
      font-size: 40px;
      transition: ease-in-out 0.3s;
    }

    .interstitial {
      color: transparent;
      text-shadow: none;
    }

    p {
      font-family: 'Rubik', sans-serif;
      color: white;
      font-size: 23px;
      margin: 0 auto;
    }
  }

}

.splash-button {
  min-height: 70px;
  min-width: 250px;
  font-size: 24px;
  font-weight: bold;
  color: #633991;
  border: none;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
  margin-top: 25px;
  border-radius: 5px;
  background-color: white;

  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;

  &:hover {
    color: #d6619c;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.mapFrame {
  display: flex;
  .header {
    color: black;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    z-index: 1029;
    font-size: 44px;
    height: 48px;
    // border-bottom: 1px solid black;
    padding-bottom: 8px;
  }
}

.map {
  left: 0;
}

.spacer {
  flex: 2;
  width: 30px;
}

.landing  {
  min-width: 1000px;
}

.map {
  padding-top: 100px;
  // background-color: rgba(15, 15, -8, 0.1);
  background-color: rgba(222, 222, 222, 1);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
}
